[Unit]
Description=TestSuite Service
After=network.target

[Service]
ExecStart=/usr/local/bin/TestSuite
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
